<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Github Authentication</h1>

        <p>Login or Register Below with:</p>

        <a href="/auth/github" class="btn btn-primary"><span class="fa fa-github"> Github</span> </a>
    </div>

    <div class="text-center">
        <p>A demo by <a href="https://techxodus.com.ng">Wilfred Macaulay</a>.</p>
    </div>

</div>