<!DOCTYPE html>
<html lang="en">
<head> 
	<title>{{title}}</title>
	<link href="https://fonts.googleapis.com/css?family=Cookie|Courgette|Fascinate+Inline|Jim+Nightshade|Kaushan+Script|Libre+Baskerville|Lobster+Two|Lora|Pacifico|Rock+Salt|Satisfy|Sigmar+One|Vollkorn" rel="stylesheet">

	<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
	<!-- Incude the bulma css framework css file
		for a bit of styling -->
	<link rel="stylesheet" href="/css/bulma.css">
	<link rel="stylesheet" href="/css/index.css">
</head>

<body>


    <!-- Bootstrap core JavaScript
    ==================================================
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>
